<!DOCTYPE html>
<html lang="en">
<head>
    <title>Peglegs Baseball</title>
</head>
<body>


<p> admin stuff (IGNORE)</p>
<form action="/input2" method="post">
    <input type="text" name = "game" placeholder="game">
    <br>
    <input type="text" name = "stream" placeholder="stream">
    <input type="text" name="code" placeholder="code">
    <input type="submit" class="enter data" value="submit">
</form>
<br>
<br>
<br>
<br>
<br>
<a href="https://developers.facebook.com/docs/plugins/embedded-video-player">Facebook live embed</a>
</body>
</html>