<!DOCTYPE html>
<html lang="en">
<head>
    <title>Peglegs Baseball</title>
    {{ turbo()}}
</head>
<body style="width:100%">
    <!-- <h3>Balls: {{balls}}</h3>
    <h3>Strikes: {{strikes}}</h3>
    <h3>Outs: {{outs}}</h3>
    <h3>Inning: {{inning}}</h3>
    <h3>Half: {{half}}</h3>
    <h3>Home: {{home}}</h3>
    <h3>Away: {{away}}</h3>
    <h3>Pitcher: {{pitcher_first}} {{pitcher_last}}</h3>
    <h3>Batter: {{batter_first}} {{batter_last}}</h3>
    <h3>Bases: {{base_text}}</h3> -->
    {% include "scoreboard.html" %}
    {% block content %}{% endblock %}    
    <p style="text-align:center;">
    <iframe src="{{stream}}" width="1100" height="1000" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>   </p>
    </body>
</html>